.fullLiveGame{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.homeTeam,.fullLiveGameStats,.awayTeam{
  float: left;
  width: 30%;
  height: 66px;
}

.centerContainer{
  display: table;
  margin: auto;
}



.innigDetail{
  float: left;
  width: 10%;

}
.innigDetail>p{
  position: relative;
  font-size: 16px;
  margin-top: 50%;
  padding-left: 25px;
}

.teamStats,.teamScore{
  float: left;
}

.teamStats{
  position: relative;
  bottom: 4px;
  }
.teamStats > h4,.teamStats > p ,.innigDetail>p {
  line-height: 1px;
}

div > .teamStats > p:nth-child(2) {
  position: relative;
  font-weight: lighter;
  bottom: 6px;
}

.teamScore{
  text-align: center;
  margin-left: 20px;
}
.teamScore p{
 font-size: 20px;
}

.interactiveBases {
  float: left;
  margin-left: 20px;
  margin-top: 6px;
}

.currentSituation{
  width: 50%;
  float: right;
  margin-right: 10px;
  margin-top: auto;
  text-align: left;
  white-space: initial;
  }

.interactiveBases>.baseContainer>.bases>.base{
  width: 12px;
  height: 12px;}

.interactiveBases>.baseContainer>.bases>#first{
  margin: 27px 0 0 34px;
}

.interactiveBases>.baseContainer>.bases>#second{
  margin: 10px 0px 0px 20px;
}

.interactiveBases>.baseContainer>.bases>#third{
  margin: 27px 0 0 6px;
}

.interactiveBases>.baseContainer>.outs>p:first-child {
  padding-top: 3px;
  margin-left: 4px;
}
