@import "./assets/css/Base.css";
@import "./assets/css/FullLiveGameStats.css";
@import './assets/fonts/fonts.css';
@import './assets/css/LiveGameLink.css';
@import './assets/css/FinalGameLink.css';
@import './assets/css/ConversationLink.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

p{
  font-size: 12px;
  font-weight: 600;
}

.mainContainer{
  width:970px;
  height: 66px;
  background-color: #002e6d;
}

.selectors{
  float: left;
  width: 12%;
  background-color: #ed244f;
  padding: 0;
  height: inherit;
}
.selectors div{
  height: 33px;
}

.events{
  display: inline-block;
  width: 71%;
  padding: 0;
  height: 66px;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
}

.LiveGame ,.FinalGame,.ScheduledGame{
  display: inline-block;
  height: inherit;
  border-right: solid 1px black;
  width:13.5%;
  overflow-y: hidden;

}

.teams,.scores,.stats{
  float: left;
  padding-right: 5px;
}

.teams>p{
  font-style: oblique;
  font-weight: bold;
}
.gameStats,.statusDetail{
  padding-left: 10px;
}

.gameStats{
  bottom: 5px;
  position: relative;
}

.statusDetail{
  height: 0;
  margin-bottom: 4px;
}

.statusDetail p{
  font-size: 11px;
  font-weight: bold;
  position: relative;
  bottom: 7px;
}

.LiveGame .statusDetail p{
  color: red;
}

.logo{
  float: right;
  height: inherit;
  width: 17%;
  background-color: #ed244f;
  overflow-y: hidden;
}

.logo>img{
  height: 66px;
}

.ScheduledGame>div>.gameStats>.scores{
  margin-left: 15px;
  line-height: 17px;
  margin-top: 1px;
}

.ScheduledGame>div>.gameStats>.scores>p{
  font-size: 10px;
  color: #b9b9b9;
  text-align: right;
}

.looser{
  color: grey;
}

.button {
    background-color: #ed244f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
}

.button:hover{
  color:#002e6d;
}

.button:focus{
  outline:0;
}
